version: '3.1'

networks:
  network-zabbix:
    driver: bridge

services:
  zabbix-caddy:
    image: caddy:2
    container_name: zabbix-caddy
    restart: always
    # ports:
    #   - 80:8080  # Needed for the ACME HTTP-01 challenge.
    #   - 443:8443
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy:/data
    networks:
      - network-zabbix
  mysql:
    container_name: mysql
    image: mysql:5.7
    networks:
      - network-zabbix
    # ports:
    #   - '3306:3306'
    volumes:
      - './zabbix/mysql:/var/lib/data'
    environment:
      - MYSQL_ROOT_PASSWORD={{ zabbix_compose.MYSQL_ROOT_PASSWORD }}
      - MYSQL_DATABASE=zabbix
      - MYSQL_USER={{ zabbix_compose.MYSQL_USER }}
      - MYSQL_PASSWORD={{ zabbix_compose.MYSQL_PASSWORD }}

  zabbix-server:
    container_name: zabbix-server
    image: zabbix/zabbix-server-mysql:ubuntu-5.0.1
    networks:
      - network-zabbix
    links:
      - mysql
    restart: always
    ports:
      - '10051:10051'
    volumes:
      - './zabbix/alertscripts:/usr/lib/zabbix/alertscripts'
    environment:
      - DB_SERVER_HOST=mysql
      - MYSQL_DATABASE=zabbix
      - MYSQL_USER={{ zabbix_compose.MYSQL_USER }}
      - MYSQL_PASSWORD={{ zabbix_compose.MYSQL_PASSWORD }}
    depends_on:
      - mysql

  zabbix-frontend:
    container_name: zabbix-frontend
    image: zabbix/zabbix-web-apache-mysql:ubuntu-5.0.1
    networks:
      - network-zabbix
    links:
      - mysql
    restart: always
    environment:
      - DB_SERVER_HOST=mysql
      - MYSQL_DATABASE=zabbix
      - MYSQL_USER={{ zabbix_compose.MYSQL_USER }}
      - MYSQL_PASSWORD={{ zabbix_compose.MYSQL_PASSWORD }}
      - PHP_TZ=Etc/UTC
    depends_on:
      - mysql
   
  zabbix-agent:
    container_name: zabbix-agent
    image: zabbix/zabbix-agent2:alpine-5.0.1
    user: root
    networks:
      - network-zabbix
    links:
      - zabbix-server
    restart: always
    privileged: true
    volumes:
      - /var/run:/var/run
    environment:
      - ZBX_HOSTNAME=Zabbix server
      - ZBX_SERVER_HOST=zabbix-server

volumes:
  caddy: